# Gradle files
.gradle/
build/

# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws

# Eclipse files
.classpath
.project
.settings/

# Logs
logs/
*.log

# Compiled class files
bin/
target/

# Package files
*.jar
*.war
*.ear

# Maven files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Spring Boot files
.DS_Store
spring-boot-*.log